<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <div>
    <section class="section-products">
                    <div class="container">
                        <div class="row justify-content-center text-center">
                            <div class="col-md-8 col-lg-6">
                                <div class="header">
                                    <h2>Students List</h2>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <%for (let student of student_list){%>
                            <!-- Single Product -->
                            <div class="col-md-6 col-lg-4 col-xl-3">
                                <div id="product-1" class="single-product">
                                    <div class="part-1">
                                        <ul>
                                        <li><a href="/student/delete-student/?id=<%= student._id%>"><i class="fa-solid fa-trash-can"></i></a></li>
                                        <li><a href="/student/studentinfo/?id=<%= student._id%>"><i class="fa-solid fa-circle-info"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="part-2">
                                        <h2 class="product-title"><%= student.name%></h2>
                                        <h4 class="product-title"><%= student.phone%></h4>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Product -->
                 <%}%>
                        </div>
                    </div>
                </section>
    </div>
</body>

</html>